body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    background-color: rgb(247, 247, 53);
}

body, ul {
    margin: 0;
    padding: 0;
}

h1, h2, .skill_list {
    font-family: 'Inknut Antiqua', serif;
}

img {
    margin-top: 30px;
    max-width: 100%;
    padding: 30px;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

nav {
    background-color: rgb(247, 247, 53);
    position: fixed;
    z-index: 1;
    width: 100%;
    
}

.empty {
    width: 90px;
    border-top: 1px solid black;
    top: -2px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
   padding: 0;
   text-transform: uppercase;
   letter-spacing: 1px;
   
   }
   
nav li a {
    text-decoration: none;
   color: black;
}

nav li a:hover {
    text-decoration: underline;
}

header {
    top: 59px;
    position: relative;
    margin-bottom: 220px;
    background-image: url('../img/1280x720-magenta-solid-color-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -490px;
}


ul li {
    list-style: none;
    margin: 10px 0;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 100px;
    line-height: 130%;
}

h2 {
    font-size: 30px;
    line-height: 130%;
}

h1 h2 {
    font-weight: normal;
}

p {
    font-size: 15px;
    line-height: 150%;
}


.button
{
 border: 1px solid black;
 text-decoration: none;
 color: black;
 padding: 10px 30px;
 margin-top: 40px;
 display: inline-block;
 border-radius: 20px;
 transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
    background-color: black;
    color: white;
}
 
/*css transitions*/
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.shrink:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

.circle:hover
{
        border-radius:50%;
}

.skill_list {
    text-align: center;
    font-size: 50px;
    line-height: 150%;
    margin-bottom: 130px;
}

.project {
   margin: 30px 0;
   padding: 50px;
}

.project .button {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin: 100px;
}

footer h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.right_alignment {
    text-align: right;
}

